<div cdkDropListGroup>
  <!-- create a pretty layout -->
  <cp-available-courses
    [available-courses]="availableCourses"
    (onItemDrop)="drop($event)"
  ></cp-available-courses>
  <mat-card class="semester-container">
    <mat-card-content class="semester-list">
      <cp-semester-courses
        class="semester"
        *ngFor="let sem of semesterList"
        [selected-courses]="sem"
        (onItemDrop)="drop($event)"
      ></cp-semester-courses>
    </mat-card-content>
  </mat-card>
</div>
