<mat-card>
  <mat-card-content>
    <mat-card>
      <mat-card-title>
        Available courses
      </mat-card-title>
      <mat-card-content>
        <div class="available-courses-container">
          <div cdkDropList cdkDropListOrientation="horizontal" #availableCoursesList="cdkDropList"
            [cdkDropListData]="availableCourses" [cdkDropListConnectedTo]="[doneList, todoList]"
            class="available-course-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of availableCourses" cdkDrag>{{item}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="semester-container">
      <mat-card-content class="semester-list">
        <div class="example-container">
          <h2>Semester 1</h2>

          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 2</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 3</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 4</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 5</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 5</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 5</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Semester 5</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, availableCoursesList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>