<div class="progress-bar">
  <mat-icon>phonelink</mat-icon>
  <mat-progress-bar class="progress-bar" mode="buffer" [value]="percentTechCompleted"
    [bufferValue]="percentTechCompleted">
  </mat-progress-bar>
</div>
<div class="progress-bar">
  <mat-icon>storage</mat-icon>
  <mat-progress-bar class="progress-bar" mode="buffer" [value]="percentDataCompleted"
    [bufferValue]="percentDataCompleted">
  </mat-progress-bar>
</div>
<div class="progress-bar">
  <mat-icon>security</mat-icon>
  <mat-progress-bar class="progress-bar" mode="buffer" [value]="percentSecurityCompleted"
    [bufferValue]="percentSecurityCompleted">
  </mat-progress-bar>
</div>