<mat-card class="semester">
  <mat-card-title
    >Semester 1
    <mat-icon
      (click)="delete(1)"
      class="semester-action-icons"
      aria-hidden="false"
      aria-label="Close icon"
      >delete</mat-icon
    >
  </mat-card-title>
  <mat-card-content>
    <div
      cdkDropList
      [cdkDropListData]="courses"
      class="semester-course-list"
      (cdkDropListDropped)="drop($event)"
    >
      <!-- add check cdkDropListEnterPredicate of each item -->
      <div class="semester-box" *ngFor="let item of courses" cdkDrag>
        <!-- {{ item.title }} -->
        <cp-course [course]="item"></cp-course>
      </div>
    </div>
  </mat-card-content>
</mat-card>
