<mat-card class="course">
  <mat-card-content>
    <mat-grid-list class="course" cols="2">
      <mat-grid-tile>
        <h5>"subject": "CSIS 1175 001",</h5>
        <p>Instructor: ABC</p>
        <p>"title": "Introduction to Programming",</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <ul>
          <li>"startEnd": "10-MAY-2021 to 09-AUG-2021",</li>
          <li>"campus": "O",</li>
          <!-- <li>
            Schedule:
            <ul>
              <li>"day": "Tue",</li>
              <li>"time": "09:30 - 12:20",</li>
              <li>"buiding": "Building:",</li>
              <li>"rom": "Room:"</li>
            </ul>
          </li> -->
        </ul>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
